<style>

/* light mode colors */
body {
  --primary-color: #964308;
  --primary-pale-color: #96430833;
  --primary-decoration-color: #96430810;

  --bg-color: #ddd5c7;
  --text-color: #2a2a2a;
  --text-pale-color: #5a5a5a;
  --text-decoration-color: #8a7968;

  --highlight-mark-color: #e8b89620;

  --callout-note-color: #964308;
  --callout-tip-color: #5a5a5a;
  --callout-important-color: #e8b896;
  --callout-warning-color: #8a7968;
  --callout-caution-color: #d5cbb9;
}

/* dark mode colors */
body.dark {
  --primary-color: #ff7b47;
  --primary-pale-color: #ff7b4733;
  --primary-decoration-color: #ff7b4710;

  --bg-color: #1f1f1c;
  --text-color: #e8dcc6;
  --text-pale-color: #a69b8f;
  --text-decoration-color: #5a5347;

  --highlight-mark-color: #4a2c1a20;

  --callout-note-color: #ff7b47;
  --callout-tip-color: #a69b8f;
  --callout-important-color: #4a2c1a;
  --callout-warning-color: #5a5347;
  --callout-caution-color: #23231f;
}

  /* typography */
  body {
    --main-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --font-size: 16px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
